services:
    dev:
        build:
            context: .
            target: dev
        ports:
            - '5173:5173'
        command: ['bun', 'run', 'dev']

    prod:
        build:
            context: .
            target: prod
        ports:
            - '4173:4173'
        command: ['bun', 'run', 'preview']
